@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Components.Authorization
@using Smart.Door.Gajet.Client.Infrastructure;


@inject AuthenticationStateProvider AuthenticationStateProvider

@*@attribute [Authorize]*@
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <Smart.Door.Gajet.Client.Shared.Components.LoginDisplay/>
                    @*Logged in as @context.User.Identity.Name*@
                    <a href="/" @onclick="(() => Logout())">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="login">Login</a>
                    @*<Smart.Door.Gajet.Client.Shared.Components.LoginRedirect />*@
                </NotAuthorized>
            </AuthorizeView>


            <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">@State</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>


@code{

    [Inject]
    public ILocalStorageService LocalStorage { get; set; }

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    public string  State { get; set; }

    protected async override Task OnInitializedAsync()
    {
        State = "About";

        var authenticationState = await AuthenticationState;

        if(authenticationState.User.Identity.IsAuthenticated==true)
        {
            var user =
                await LocalStorage.GetItemAsync<Data.LoginResponse>("user");

            State = user.FullName;
        }
        else
        {
            NavigationManager.NavigateTo("Login");
        }
    }

    public async Task Logout()
    {
        await (AuthenticationStateProvider as CustomAuthenticationStateProvider).MarkUserAsLoggedOut();
        NavigationManager.NavigateTo("");
    }
}





@*<div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4">
                <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>*@
